:root {
    --fondoNav: linear-gradient(90deg, rgba(248,217,147,0.93) 0%, rgba(213,76,86,1) 100%);
    --fondo: black;
    --color-principal: linear-gradient(90deg, rgba(248,217,147,0.93) 0%, rgba(183,236,214,0.96) 50%, rgba(31,147,153,1) 100%);
    --alpha: rgba(232, 232, 232, 0.6);

}
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(../../Images/pattern.png) no-repeat center/cover;
    padding: 0;

}
body::before{
  display: block;
  background-color: rgba(232, 232, 232, 0.7);
  width: 100%;
  height: 100vh;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}   
/* estilo de la lista */


/*inicio*/
/*Login-page*/

.login-page {
    background:var(--color-principal); /* fallback for old browsers */
    padding: 130px 0 100px;
    margin: auto;
    min-height: 300px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form, .main-menu.m-container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input, .main-menu input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1em;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #20939A;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 1em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: var(--color-principal);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 0.8em;
}
.form .message a {
  color: var(--color-principal);
  text-decoration: none;
}
.form .error-message {
    visibility: hidden;
}
.informacion{
    font-size: .8rem;
    padding: 0 0 30px;
    text-align: center;
}

/*Menú de gestión de usuarios*/
.main-menu.m-container{
  min-width: 360px;
  max-width: 1280px;
  background-color: var(--color-principal);
  margin: 3rem auto;
  padding: 1rem;
  background-color: var(--alpha);
}

.main-menu main{
  padding: 30px 20% 70px;
  
}
.main-menu header h1{
  text-align: center;
  text-transform: uppercase;
  max-width: 500px;
  margin: 30px auto 50px;

}
.main-menu .menu-option{
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
}
/*Fin de estilos del menú principal*/

.main-menu .menu-option button, .main-menu .menu-option>div{
  flex-basis: 30%;
}
.main-menu .menu-option:nth-of-type(3) p{
  align-self: center;
}



.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.visible{
    display: block;
}

.invisible {
    display: none;
}

footer{
    color: gray;
    text-align: center;
}

/*Boton salida*/
header .salir {
    width: 100px;
    height: 50px;
    box-align: left;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: var(--fondoNav);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  header .salir:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-principal);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .salir:hover, .salir:focus, .salir:active {
    color: white;
  }
  .salir:hover:before, .salir:focus:before, .salir:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
 

/* Lista de productos */

.tituloLista {
    text-align: center;
    background-color: #D54C56;
    border: 2px solid black;
}

.product-list {
    background-color: var(--color-principal);
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.product-list .card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
}

.card .title {
    font-size: 18px;
    font-weight: 800;

}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card .text {
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0.5em;


}

.verMas{
    background-color: #f8d993;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}
.verMas:hover{
    box-shadow: 0px 10px 5px #b2bec3;
    color: #eb4d4b;
}

/*Página productos*/ 
.product-header{
    text-align: center;
    background-color: #D54C56;
    border: 2px solid black;
    display: grid;
    font-size: 1.5em;
    font-weight: 800;
}

.pagina-producto img{
    margin-top: 2%;
    max-width: 50%;
    border-radius: 5px; 
    box-align: center; 
    border: 2px solid black;
}
.pagina-producto{
    margin-top: 2%;
    margin-left: 25%;
    width:  50%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    background-color: rgba(31,147,153,0.96);
}


/*Estilo de los campos a llenar en lista de producto*/
.producto1-unidad label{
    display: inline-block;
    width: 25%;
    height: 50%;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(251,217,147);
    padding-top: 2%;
    padding-bottom: 2.5%;

}

.input-name{
    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
}
.input-cantidad{
    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
}
.input-descripción{
    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
}

/* Boton guardar producto*/
.producto1-unidad .guardar-producto{
    margin-bottom: 2%;
    width: 100px;
    height: 50px;
    box-align: left;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: var(--fondoNav);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.producto1-unidad .guardar-producto:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-principal);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.guardar-producto:hover, .guardar-producto:focus, .guardar-producto:active {
color: red;
}
.guardar-producto:hover:before, .guardar-producto:focus:before, .guardar-producto:active:before {
-webkit-transform: scale(2);
transform: scale(2);
}

/*Vistas J*/

.logedj{
    background: #1F9399;
    padding: 2px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: -1px;
}

.titlePagej{
    
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    /*background-color:  #E3B678;*/ 
}
header h1::before{
    display: block;
    background-color: rgba(232, 232, 232, 0.7); /* rgba(206, 65, 65, 0.7);*/
    width: 100%;
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.centradoj{text-align:center;
    
    /*border:1px dotted #000;*/ 
    padding:7px;}
	/*div{width:60%;border:1px dotted rgb(0, 0, 0);padding:8px;margin:auto;}*/
    center{margin:16px 0;}
    
.logoj{
    padding-bottom: 1px ;
}
.usuarioj{
    font-size: small;
    padding-top: 1px ;
}



.gest-usuariosj{
    background-color:  #f8d993; 
    padding: 5xp ;
    margin-left: 100px;
    margin-right: 100px;
}



.whiteSpacej{
    margin-left: 200px;
    margin-right: 200px;
}

.formj{text-align:center;
}
.listaUsuariosj{text-align:center;

}
.cajaj{
    margin-left: 200px;
    padding-bottom: 300px ;
    padding-right: 500px;
    margin-bottom: 50px;
    margin-right: 200px;
    border: 0;
}

.bottonj{
    text-align:center;
    padding-bottom:  50px; ;
    
}

.bottonj button{
    background:#1F9399;
    padding: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
}

.linea{
    display: inline-block;
}

.informacionj{
    font-size: .8rem;
    padding: 0 0 30px;
    text-align: center;
}
.informacion-Usuarioj{
    text-align:center;
    width: 100%;

}

label{
    display: inline-block;
    width: 80px;
  }


.inputj{
    margin-left: 30px;
}

.espacioj{
    margin-bottom: 100px;
}

.labelj{
    width: 200px;
}






